<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Student Dashboard</h1>
    <p>Name: <%= student.name %></p>
    <a href="/student/logout">Logout</a>
    <h2>Teachers</h2>
    <ul>
      <% teacher.forEach(teacher => { %>
      <li><%= teacher.name %></li>
      <% if (!teacher.students.includes(student?._id)) { %>
      <a href="/student/feedback?id=<%= teacher._id %>"> Give Feedback</a>
      <% } else { %>
      <p>You have already given feedback to this teacher</p>
      <% } %> <% }) %>
    </ul>
  </body>
</html>
