<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Teacher Register</h1>
    <form action="/teacher/register" method="post">
      <input
        type="text"
        placeholder="Name"
        name="name"
        required
        minlength="1"
        maxlength="50"
      />
      <input type="email" placeholder="Email" name="email" required />
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
        minlength="8"
      />
      <button>Register</button>
    </form>
  </body>
</html>
